# --- Sensitive files ---
api_config.json

# --- Data folders ---
data/
plots/
market_logs/
trade_logs/

# --- ML Model Files ---
pkl_files/

# --- Test files ---
order.json
pair_stats.json
*_grid_search.json
*_spread.json

# --- Python build/cache files ---
__pycache__/

