# --- Sensitive files ---
api_config.json
tokens.json

# --- Test files ---
trade_history.json
gs_results.json
wfo_results.json

# --- Data folders ---
data/
plots/

# --- Python build/cache files ---
__pycache__/
